<launch>
    <!-- Start mavros -->
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="/dev/ttyOffboard:921600"/>
    </include>

    <!-- Start camera driver -->
    <include file="$(find bluefox2)/launch/single_node.launch">
        <arg name="record_cameras" value="true"/>
        <arg name="expose_us" default="16000"/>
        <arg name="rate" value="150"/>
        <arg name="request" value="100"/>
        <arg name="gain_db" value="12.0"/>
        <arg name="hdr" value="false"/>
        <arg name="mm" value="3"/>
        <arg name="aec" value="false"/>
        <arg name="agc" value="false"/>
    </include>

</launch>
