<launch>
    <arg name="expose_us" default="12000"/>
    <arg name="view" default="false"/>
    <arg name="rate" default="50"/>
    <arg name="record_cameras" default="false"/>

    <!-- Start mavros -->
    <include file="$(find bluefox2)/launch/mavros.launch"/>

    <!-- Load camera time offset parameters -->
    <group ns="hawk"> 
      <rosparam file="$(find svo_ros)/param/hawk/camchain.yaml"/>
    </group>

    <!-- Start camera driver -->
    <include file="$(find bluefox2)/launch/stereo_node.launch">
        <arg name="expose_us" value="$(arg expose_us)"/>
        <arg name="record_cameras" value="$(arg record_cameras)"/>
        <arg name="view" value="$(arg view)"/>
        <arg name="rate" value="$(arg rate)"/>
        <arg name="request" value="100"/>
        <arg name="gain_db" value="12.0"/>
        <arg name="hdr" value="true"/>
        <arg name="mm" value="3"/>
        <arg name="aec" value="false"/>
        <arg name="agc" value="false"/>
        <arg name="ctm" value="3"/>
        <arg name="cts" value="0"/>
    </include>

</launch>
