*.vscode/**
build/**
devel/**
logs/**
.catkin_workspace
src/offboard/compile_commands.json
src/VIO/rpg_svo/svo/compile_commands.json
src/VIO/rpg_svo/svo_ros/compile_commands.json
src/VIO/rpg_svo/svo_ros/benchmark/**
src/.vscode/**
scripts/frames*
misc/**
.catkin_tools

src/eigen_**
src/glog_**
src/mav_comm
src/nlopt
src/catkin_simple
*.bag
bags/**
src/CMakeLists.txt
evaluations/**
analysis/smart_factors/**
analysis/EKF/log**
analysis/EKF/10_07/**
analysis/VIO/*.ulg
analysis/VIO/offboard_gps/*.ulg
*.swp
