build/**
devel/**
logs/**
.catkin_workspace
src/offboard/compile_commands.json
src/VIO/rpg_svo/svo/compile_commands.json
scripts/frames*
misc/**
.catkin_tools

src/eigen_**
src/glog_**
src/mav_comm
src/nlopt
src/catkin_simple
*.bag
bags/**
src/CMakeLists.txt
