<launch>

    <arg name="calibration" default="$(find svo_ros)/param/hawk/camera0.yaml"/>
    <arg name="imu_topic" default="/mavros/imu/data_raw"/>
    <arg name="use_motion_priors" default="false"/>

    <!-- flag to choose the camera rig type: choose between monocular and stereo -->
    <arg name="rig" default="monocular"/>

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find svo_ros)/cfg/rosconsole.conf"/>

    <!-- monocular image topic -->
    <arg name="image_topic" default="/hawk/camera_0/image_raw"/>

    <!-- stereo image topics -->
    <arg name="left_image_topic"  default="/hawk/stereo/left/image_raw"/>
    <arg name="right_image_topic" default="/hawk/stereo/right/image_raw"/>

    <node pkg="svo_ros" type="vo" name="svo" clear_params="true" output="screen" ns="hawk">
        <!-- camera rig type -->
        <param name="rig" value="$(arg rig)" type="str" />

        <!-- Camera topic to subscribe to [monocular case]-->
        <param name="cam_topic" value="$(arg image_topic)" type="str" />

        <!-- Left camera topic to subscribe to [stereo case]-->
        <param name="left_image_topic" value="$(arg left_image_topic)" type="str" />

        <param name="poseoptim_thresh" value="2.0" type="double" />
        <param name="max_n_kfs" value="0" type="int" />

        <!-- Right camera topic to subscribe to [stereo case]-->
        <param name="right_image_topic" value="$(arg right_image_topic)" type="str" />

        <!-- Camera topic to subscribe to -->
        <param name="imu_topic" value="$(arg imu_topic)" type="str" />

        <!-- Whether to run with imu -->
        <param name="use_motion_priors" value="$(arg use_motion_priors)" type="bool" />

        <param name="remote_key" value="false" type="bool" />

        <!-- Camera calibration file -->
        <rosparam file="$(arg calibration)"/>

        <!-- Default parameter settings: choose between vo_fast and vo_accurate -->
        <rosparam file="$(find svo_ros)/param/vo_accurate.yaml" />

        <!-- Load imu preintegration params -->
        <rosparam file="$(find svo_ros)/param/hawk/isam2_params.yaml" />

        <!-- Load imu calibration params -->
        <rosparam file="$(find svo_ros)/param/hawk/imu.yaml" />

        <param name="max_measurements" value="50" />

        <!-- Initial camera orientation, make it point downwards -->
        <!-- <param name="init_rx" value="3.14" /> -->
        <param name="init_rx" value="0.00" />
        <param name="init_ry" value="0.00" />
        <param name="init_rz" value="0.00" />

        <!-- Visualization -->
        <param name="publish_markers" value="true"/>
        <param name="publish_dense_input" value="true"/>
    </node>

</launch>
