<launch>
    <arg name="camera_calibration_file" default=""/>
    <arg name="imu_calibration_file" default=""/>
    <arg name="svo_params_file" default=""/>

    <arg name="use_motion_priors" default="false"/>
    <arg name="run_inertial_estimator" default="false"/>

    <!-- typically used when interfacing with drone. we do not want to start right away -->
    <arg name="start_vo" default="true"/>

    <!-- flag to choose the camera rig type: choose between monocular and stereo -->
    <arg name="rig" default="monocular"/>

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find svo_ros)/cfg/rosconsole.conf"/>
    <node pkg="svo_ros" type="vo" name="svo" clear_params="true" output="screen" ns="hawk">
        <!-- camera rig type -->
        <param name="rig" value="$(arg rig)" type="str" />

        <param name="start_vo" value="$(arg start_vo)" type="bool"/>

        <!-- Which parts of the system to run -->
        <param name="use_motion_priors" value="$(arg use_motion_priors)" type="bool" />
        <param name="run_inertial_estimator" value="$(arg run_inertial_estimator)" type="bool" />

        <!-- Camera calibration file (either stereo or monocular) -->
        <rosparam file="$(arg camera_calibration_file)"/>

        <!-- Load imu calibration params -->
        <rosparam file="$(arg imu_calibration_file)"/>

        <!-- SVO params -->
        <rosparam file="$(arg svo_params_file)" />

        <!-- Load imu preintegration params -->
        <rosparam file="$(find svo_ros)/param/hawk/isam2_params.yaml" />

        <!-- Initial camera orientation, make it point forward -->
        <param name="init_rx" value="0.00" />
        <param name="init_ry" value="0.00" />
        <param name="init_rz" value="0.00" />

        <!-- Visualization -->
        <param name="publish_markers" value="true"/>
        <param name="publish_dense_input" value="true"/>
    </node>
</launch>
